{% extends 'base.html'%}
{% block content%}
{% if photos %}
    <div class='container d-flex flex-wrap justify-content-center'>
        {% for photo in photos %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="card col-lg-8 col-md-8 col-sm-8 col-xs-10" style="border: 1px; margin-bottom: 2%;">
                <div class="card-header">
                    <h3>{{photo.user.username}}</h3>
                    <p class="text-secondary ml-3" > {{photo.caption}}</p>
                </div>
                <img src="{{photo.image.url}}" class="card-img-top" alt="{{photo.caption}}" height='600' width='100%' data-toggle="modal" data-target="#{{image.image}}">
    
                <div class="card-body">
                    <p ><a href="{% url 'like-photo' photo.id%}" style="font-size: xx-large;"><i class="far fa-heart"></i></a>{% if photo.likes > 0%}{{photo.likes}}{%endif%}</p>
                    {% for comments in all_comments%}
                    {% if comments.photo == photo%}
                    <h5 class="card-text float-left">{{comments.user.username}}: {{comments.comment}}</h5>
                    {% endif%}
                    {% endfor%}
                    
                    <a class="text-secondary float-right" href="">
                    </a> 
                    
                </div>
                <form class="card-footer" action="{% url 'comment' photo.id %}" role="comment">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Add a comment" name="comment">
                        <div class="input-group-btn">
                          <button class="btn btn-default" type="submit">Post</button>
                        </div>
                      </div>
                </form>
            </div>  
        </div>
            
        {% endfor %}


        
    </div>
{% endif%}
{%endblock%}