<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color:#f0efeb;">
  <div class="container-fluid">
      <div class="row">
            <div class="col-md-1 col-xs-1"></div>
            <div class="col-md-8 col-sm-8 col-xs-8">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'profile'%}" style="color: #003049;" >Photogram</a>
                </div>
                <div class="navbar-right" style="font-size: xx-large;">
                    <a href="{%url 'new-photo'%}">Post a photo</a>
                    <a href=""><i class="fas fa-user-circle"></i></a>
                    <a href=""><i class="fas fa-user-circle"></i></a>
                    <a href="{% url 'profile'%}"><i class="fas fa-user-circle"></i></a>
                </div>
            </div>  
            <div class="col-md-1 col-xs-1"></div>      
      </div>
  </div>
  
</nav>
</body>
</html>
