<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color: cyan;">
  <div class="container-fluid">
    <div class="navbar-header">
        <p>
            <a class="navbar-brand" href="{% url 'index'%}" style="color: #003049;" >Photogram</a>
        </p>
        
    </div>
    
    <!-- Adding a search form  -->
    <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_photo'%}">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search i.e Travel,Personal,Family etc" name="category">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit" style="background-color:#98c1d9"><i class="glyphicon glyphicon-search"></i></button>
            </div>
          </div>

        </form>
      </div>
  </div>
</nav>
</body>
</html>
